*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Inter, sans-serif;
}
.top{
    height: 70px;
    display: flex;
    justify-content: space-between;
    

}
.topbold{
    font-weight: bold;
    font-size: 14px;
}
.toplight{
    font-weight: lighter;
    font-size: 12px;
}
.top-right{
    display: flex;
    gap: 9px;
    cursor: pointer;
}
.right{
    display: flex;
    gap: 1rem;
    padding: 13px;;
    border-left: 1px solid rgba(128, 128, 128, 0.534);
}
.logo{
    width: 90px;
    margin-left: 75px;
}
.nav-flex{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: rgb(226, 226, 226);
}
.list{
    margin: 0px px;
    cursor: pointer;
}
.list:hover{
    background-color: white;
}
.middile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100;
    color:white;
    background-image: linear-gradient(to top, rgb(44, 44, 44), rgb(189, 189, 189));
}
.search-bar{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50px;
    width: 60%;
    margin: 30px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
    
}
.location{
    width: 25rem;
    border-right: 1px solid;
}
.location img{
    width: 16px;
    margin-right: 5px;
}
.location button{
    margin-left: 20px;
    width: 6rem;
    height: 2rem;
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
    cursor: pointer;
}
.search-date{
    font-weight: bold;
    border-right: 1px solid;
    cursor: pointer;
}
input{
    border-style: none;
}
.submit{
    border-style: none;
}
.search-button{
    height: 50px;
    width: 90px;
    margin-left: 5rem;
    background-color:rgb(46, 173, 46);
    color: white;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;

}
.search-room{
    font-weight: bold;
    text-align:end ;
}
.offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.pic-one{
    height: 90%;
    width: 80%;
    margin: 20px 0px;
    border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.pic-two{
    height: 90%;
    width: 80%;
    margin:20px 0px;
    border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.email {
    width: 80%;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-radius: 5px; 
    border: 1px solid gray;
    padding: 20px;
    margin-bottom: 30px;
}

.email-left {
    display: flex;
    align-items: center;
    gap: 15px; 
    padding-left: 10px;
}

.email-left img {
    max-width: 50px; 
    height: auto;
}

.email-text {
    display: flex;
    flex-direction: column;
}

.email-text h1 {
    margin: 0;
    font-size: 18px;
}

.email-text p {
    margin: 0;
    font-size: 14px;
    color: gray;
}

.email-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    gap: 20px;
}
.email-right input{
    width: 15rem;
}
legend {
    font-size: 16px;
    color: gray;
    padding-right: 20px;
    border-radius: 20px;
}

.mail-button button{
    background-color: rgb(249, 69, 69);
    width: 5rem;
    height: 2rem;
    border-radius: 10px;
    border: 1px;
}



.banner-text-country{
    background-color: rgb(240, 240, 240);
    display: flex;
}
.banner img{
    width: 50vw;
}
.text-part img{
    width: 40rem;
}
footer{
    background-color: rgb(106, 118, 124);
}
.footer-top{
    display: flex;
    justify-content: space-around;
    height: 100px;
    color:white;
    border-bottom: 1px solid rgb(147, 163, 171);;
    
    
}
.top-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-top img{
    height: 70px;
    margin-right: 20px;
}

.top-text-1{
    font-size: 22px;
    font-weight: bolder;
}
.top-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-text-2{
    font-size: 22px;
    font-weight: bolder;
    margin-right: 15px;
}
.footer-top button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-style: inherit;
    border-radius: 10px;   
}
.footer-top button img{
    height: 25px;
    margin-left: 20px;
}
.footer-top button p{
    font-size: 12px;
    color: rgb(106, 118, 124);
    font-weight: bold;
    margin-right: 20px;
}
.footer-middle{
    height: 200px;
    display:flex;
    align-items: center;
    color: white;
    font-size: 14px;
    /* padding-bottom: 25px; */
    border-bottom: 1px solid  rgb(147, 163, 171);;

}
.middle-left{
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    gap: 2rem;
    
}
.mid-button{
    display:flex;
    gap: 5px
    
}
.middle-left button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
        height: 50px;
        border-radius: 10px;
        border-style: 1px solid white; 
}
.middle-center{
    display:flex;
    align-items: center;
    line-height: 2.5rem;
    gap: 3rem;
    border-right: 1px solid rgb(147, 163, 171);
    border-left: 1px solid rgb(147, 163, 171);
    padding: 0 5rem;
}
.middle-right{
    display: flex;
    padding: 0 5rem;
    line-height: 2.5rem;
    gap: 3rem;

}
.middle-footer{
    margin: 0 60px;
    padding-top: 20px;
    color: white;
     border-bottom: 1px solid rgb(147, 163, 171);
}
.hotel-list{
    display:flex;
    gap: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 2em;
    padding-top: 10px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin:0 30px;
    font-size: 12px;
    font-weight: 500;
    color: aliceblue;
}
.bottom-left{
    display: flex;
    height: 30px;
    gap: 10px;
    padding-left: 30px;
}

